
/* start of landing page */
#landing-page {
  width: 100vw;
  height: 100vh;
  background-image: url("background-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#start-btn-div {
  position: absolute;
  top: 45%;
  left: 38%;
}

#start-btn {
  position: relative;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  padding-left: 10px;
  padding-right: 10px;
  border: black solid 2px;
  background-color: rgb(29, 211, 99);
  opacity: 0.8;
  border-radius: 15px;
}

#start-btn:hover {
  transition: 0.3s;
  box-shadow: 0px 0px 1px 5px #aaaaaa;
  background-color: lightgreen;
  cursor: pointer;
}

#page-text-1-div {
  position: absolute;
  top: 20%;
  left: 7%
}

.front-page-letters {
  font-family: 'Times New Roman', Times, serif;
  color: rgb(76, 88, 90);
  font-size: 35px;
}

#page-text-2-div {
  position: absolute;
  top: 27%;
  left: 20%
}

.front-page-letters2 {
  font-family: 'Times New Roman', Times, serif;
  color: black;
  font-size: 15px
}

/* end of landing page */


/* nav-bar */
#nav-bar {
  background-color: rgb(55, 64, 146)!important;
  opacity: 0.8;
}

/* end of nav-bar */


/* start of QuestionManagement page */

/* start of submissions page */
#question-management-div {
  height: 100vh;
  background-image: url("background-repeat.png")
}

.question-title {
  margin-left: 10px;
  font-size: 12px;
}

.badge-text {
  font-weight: 500;
}

.accordion-body {
  background-color: rgb(225, 247, 255);
  padding: 10px;
}

.edit-form {
  padding: 15px;
  border-radius: 20px;
  box-shadow: inset 0 0 5px #c2b9b9;
}

.update-btn {
  background-color: rgb(17, 224, 110);
  border-radius: 10px;
}

.delete-btn {
  margin-left: 5px;
  background-color: red;
  border-radius: 10px;
}

.edit-level-dropdown {
  margin-left: 5px;
  border-radius: 10px;
  text-align-last: center;
  width: 35%;
}

.edit-grade-btn {
  margin-left: 5px;
}

.edit-grade-label {
  margin-left: 2px;
}

.edit-subject-btn {
  margin-left: 3px;
  padding: 5px;
  font-size: 10px;
}


.edit-form-topic {
  margin-left: 3px;
  color: rgb(150, 135, 135);
  font-weight: 400;
  border: 1px rgb(209, 180, 180) solid;
}

.edit-form-label {
  margin-right: 2px;
  font-weight: 500;
  font-size: 12px;
}

.edit-input-field {
  font-size: 12px;
}
/* end of Submissions page */


/* start of AddQuestion page */
#addnew-form {
  position:absolute;
  background-color: rgb(241, 215, 205);
  border-radius: 20px;
  height: 100vh;
  width: 100vw;
  padding: 20px;
  box-shadow: inset 0 0 5px #c2b9b9;
}

#addnew-title-div {
  display: flex;
  position: relative;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

#addnew-title {
  text-decoration: underline;
}

.add-form-label {
  margin-right: 2px;
  font-weight: 500;
  font-size: 15px;
}

#add-level-dropdown {
  border-radius: 10px;
  text-align-last: center;
  width: 50%;
}

.add-grade-label {
  margin-left: 2px;
}

.add-grade-btn {
  margin-left: 3px;
}


.add-subject-btn {
  margin-left:3px;
  margin-top: 3px;
  padding: 5px;
  font-size: 15px;
}

#add-new-submit-btn {
  border-radius: 10px;
  background-color: green;
}

#add-new-reset-btn {
  border-radius: 10px;
  background-color: red;
}

.add-form-topic-dropdown {
  border-radius: 10px;
  text-align-last: center;
  width:65%;
}

/* end of addnew page */

/* end of QuestionManagement page */

/* start of QuestionPage */

/* start of SearchForm */
#search-form {
  padding: 20px;
  border-radius: 20px;
  box-shadow: inset 0 0 10px #383535;
}

#search-field-div {
  padding-left: 20px;
}

#search-form-title {
  text-decoration: underline;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-form-label {
  margin-right: 5px;
}


.search-level-btn {
  margin-left: 3px;
  padding: 5px;
  font-size: 12px;
}

.search-grade-number {
  margin-left: 2px;
}

.search-grade-btn {
  margin-left: 5px;
}

.search-subject-btn {
  margin-left: 3px;
  margin-top: 2px;
  padding: 5px;
  font-size: 12px;
}

.search-topic-dropdown {
  border-radius: 10px;
  text-align-last: center;
  width: auto;
}

#search-btn-div {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  margin-top: 20px;
}

.search-btn {
  padding: 2px 10px;
  background-color: rgb(29, 211, 99);
  border-radius: 10px;
  border: black solid 1px;
  font-size: 15px;
}

.search-btn:hover {
  transition: 0.3s;
  box-shadow: 0px 0px 1px 5px #aaaaaa;
  background-color: lightgreen;
  cursor: pointer;
}

/* end of SearchForm */


/* start of BackBtn */
#back-btn-div {
  position: fixed;
  bottom: 2%;
  left: 3%;
  z-index: 1;
}

.back-btn {
  padding: 2px 10px;
  border-radius: 10px;
  font-size: 15px;
  
}
/* end of BackBtn */

/* start of QuestionDisplay cards */
.question-card-div {
  border-radius: 20px;
}

.reveal-btn-div {
  display: flex;
  justify-content: flex-end;
}

.reveal-btn {
  background-color: rgb(45, 126, 45);
  font-size: 12px;
  padding: 2px 5px
}

/* end of QuestionDisplay cards */



@media only screen and (min-width:425px) {
  #page-text-1-div {
    left: 13%
  }

  #page-text-2-div {
    left: 25%
  }

  #start-btn-div {
    left: 40%;
  }
}

@media only screen and (min-width:768px) {
  /* start of LandingPage */
  #start-btn-div {
    top: 58%;
    left: 70%;
  }

  #start-btn {
    font-size: 30px;
  }

  #page-text-1-div {
    top: 25%;
    left:10%
  }

  .front-page-letters {
    font-size: 50px;
  }

  #page-text-2-div {
    top: 34%;
    left: 40%;
    opacity: 0.7
  }

  .front-page-letters2 {
    font-size: 18px;
  }

  /* end of LandingPage */


  /* start of Submissions */
  .question-title {
    font-size: 16px;
  }

  .edit-form-label {
    font-size: 16px;
  }

  .edit-form-div {
    margin-bottom: 15px!important;
  }

  .edit-subject-btn {
    font-size: 15px;
    padding: 5px 10px;
  }

  .edit-form-topic {
    font-size: 15px;
  }

  .edit-input-field {
    font-size: 15px;
  }
  /* end of Submissions */

  /* start of AddQuestion page*/
  .add-form-label {
    font-size: 20px;
  }

  #add-level-dropdown {
    width: 25%;
  }

  .add-subject-btn {
    font-size: 15px;
    padding: 5px 10px;
    margin-left: 5px;
  }

  .add-form-topic-dropdown {
    width: 35%;
  }
  /* end of AddQuestion page */


  /* start of QuestionPage */
  .search-form-label {
    font-size: 20px;
    font-weight: 500;
  }

  .search-level-btn {
    font-size: 15px;
    padding: 5px 10px;
    margin-left: 5px;
  }

  .search-grade-number {
    font-size: 16px;
  }

  .search-grade-btn {
    height: 15px;
    width: 15px;
  }

  .search-subject-btn {
    font-size: 15px;
    padding: 5px 10px;
    margin-left: 5px;
  }

  .search-topic-dropdown {
    width: 32%;
  }

  .search-btn {
    font-size: 18px;
  }

  /* end of QuestionPage */

  /* start of BackBtn */

  .back-btn {
    font-size: 20px;
  }

  /* end of BackBtn */

  /* start of QuestionDisplay cards */
  .reveal-btn {
    font-size: 15px;
    padding: 2px 8px;
  }

  /* end of QuestionDisplay cards */

}


