
/* Landing Page */
#landing-page {
  width: 100vw;
  height: 100vh;
  background-image: url("background-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#start-btn-div {
  position: absolute;
  top: 40%;
  left: 38%;
}

#start-btn {
  position: relative;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  padding-left: 10px;
  padding-right: 10px;
  border: black solid 2px;
  background-color: rgb(29, 211, 99);
  opacity: 0.8;
  border-radius: 20px;
}

#start-btn:hover {
  transition: 0.3s;
  box-shadow: 0px 0px 1px 5px #aaaaaa;
  background-color: lightgreen;
  cursor: pointer;
}

#page-text-1-div {
  position: absolute;
  top: 20%;
  left: 7%
}

.front-page-letters {
  font-family: 'Times New Roman', Times, serif;
  color: rgb(76, 88, 90);
  font-size: 35px;
}

#page-text-2-div {
  position: absolute;
  top: 27%;
  left: 20%
}

.front-page-letters2 {
  font-family: 'Times New Roman', Times, serif;
  color: black;
  font-size: 15px
}

#nav-bar {
  background-color: rgb(55, 64, 146)!important;
  opacity: 0.8;
}
